.dvs
  .card
    .card-header
      %h4
        Edit
        = resource_name.to_s.humanize

    .card-body
      = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
        = devise_error_messages!
        .col-form-label
          = f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'e-mail'
        - if devise_mapping.confirmable? && resource.pending_reconfirmation?
          %div
            Currently waiting confirmation for: 
            = resource.unconfirmed_email
        .col-form-label
          %i (leave blank if you don't want to change it)
          = f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: 'password'
          - if @minimum_password_length
            = @minimum_password_length
            %em characters minimum
        .col-form-label
          = f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: 'password confirmation'
        .col-form-label
          = f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: 'current password'
          %i (we need your current password to confirm your changes)
        = f.submit "Update", class: 'btn btn-default'



.dvs
  .card
    .card-header
      %h4 Cancel my account

    .card-body
      %p 
        Unhappy? 
        = button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-secondary'

