= form_for(@task, remote: true, html: {class: 'form-inline'}) do |f|
  = f.hidden_field :project_id, value: @task.project_id
  = f.text_field :name, class: 'form-control task-edit', required: true
  = f.select(:priority, options_for_select(Task.priorities.keys), {}, {class: "form-control"})
  = f.text_field :deadline, class: 'form-control date', placeholder: 'Deadline...', size: 10
  = f.submit class: 'btn btn-secondary'
  %button.cancel.btn.btn-secondary
    Cancel