%li.list-group-item.hm{id: "task#{task.id}"}
  .pull-right
    .btn.btn-xs.check
      = button_to "Check", check_task_path(task), {remote: true, form_class: 'hider'}
      %i.fa{class: task.done? ? 'fa-check-square' : 'fa-square'}
    .btn.btn-xs.edit
      %i.fa.fa-pencil
    .btn.btn-xs.del
      = button_to 'Destroy', task, {method: :delete, remote: true, form_class: 'hider'}
      %i.fa.fa-trash
  %div
    %i.fa.fa-circle{class: "prior#{task.priority}"}
    = task.name 
    %sup.deadline 
      = task.get_deadline

    