.panel.panel-default{id: "project#{project.id}"}
  .panel-heading.hm
    %h4= best_in_place project, :name, :as => :input
    .pull-right
      .btn.btn-xs.del
        = button_to 'Destroy', project, {method: :delete, remote: true, form_class: 'hider'}
        %i.fa.fa-trash
  .panel-body
    = form_for(@task, remote: true, html: {class: 'form-inline'}) do |f|
      = f.hidden_field :project_id, value: project.id
      = f.text_field :name, class: 'form-control task', placeholder: 'Add task...'
      %span.hider
        = f.select(:priority, [['Low', 1], ['Normal', 2],['High', 3]],{},{ class: "form-control", prompt: "Priority"})
        = f.text_field :deadline, class: 'form-control date', placeholder: 'Deadline...', size: 10
        = f.submit class: 'btn btn-default'
    %ul.list-group{id: "body#{project.id}"}
      = render project.tasks