.main
  .btn-group.plan
    .cur-plan.btn.btn-warning
      Free Plan
    .prompt.btn.btn-primary
      Upgrade
  .btn-group.logout
    .btn.btn-primary
      = current_user.email 
    = link_to edit_user_registration_path, class: 'btn btn-warning' do
      %i.fa.fa-pencil
      Edit
    = link_to destroy_user_session_path, method: :delete, class: 'btn btn-danger' do
      %i.fa.fa-sign-out
      Sign Out
  .card.card-body#newpr
    = form_for(@project, remote: true, html: {class: 'input-group'}) do |f|
      = f.text_field :name, class: 'form-control', placeholder: 'Add project...', required: true, autocomplete: 'off'
      %span.input-group-btn
        = f.submit class: 'btn btn-secondary'

  = render @projects
