 <div id='projects'>
 <% @projects.each do |project| %>
    <div class='panel panel-default'>
      <div class='panel-heading hm'><h3><%= project.name %> </h3>
        <div class="btn-group btn-group-sm pull-right">
          <div class="btn btn-default">
            <i class="fa fa-pencil" aria-hidden="true"></i>
          </div>
          <div class="btn btn-default del">
            <i class="fa fa-trash" aria-hidden="true"><%= button_to "Destroy", project, {method: :delete, remote: true, form_class: 'hider'} %></i>

          </div>
        </div>
      
</div>
       <div class="panel-body">
    <%= form_for(@task, remote: true, html: {class: 'form-inline'}) do |f| %>
      <%= f.hidden_field :project_id, value: project.id %> 
      <%= f.text_field :name, class: 'form-control task', placeholder: 'Add task...' %>
      <span class="hider">
        <%= f.select(:priority, [['Low', 1], ['Normal', 2],['High', 3]],{},{ class: "form-control", prompt: "Priority"}) %>
        <%= f.text_field :deadline, class: 'form-control date', placeholder: 'Deadline...' %>
        <%= f.submit class: 'btn btn-default' %>     
      </span>
    <% end %>

    <ul class="list-group" id='body<%= project.id %>'>
    <% project.tasks.each do |task| %>
      <li class='list-group-item hm'>
 
        <h4><%= task.name %> <sup class="deadline"><%= distance_of_time_in_words DateTime.now.to_date, task.deadline %> remain </sup></h4>
        <div class="btn-group btn-group-sm pull-right">
         
          <div class="btn btn-default">
            <i class="fa fa-pencil" aria-hidden="true"></i>
          </div>
          <div class="btn btn-default">
            <i class="fa fa-trash" aria-hidden="true"></i>
          </div>
          <div class="btn btn-default checker">
            <i class="fa fa-square" aria-hidden="true"></i>
          </div>
        </div>
    
      </li>

    <% end %>
    </ul>
    </div>
    </div>
<% end %>
</div>



<div class='panel panel-default'> 
<div class='panel-heading'><h3>Add project</h3></div>
<div class='panel-body'>
<%= form_for(@project, remote: true, html: {class: 'input-group'}) do |f| %>
  <%= f.text_field :name, class: 'form-control' %>
    <span class="input-group-btn">
  <%= f.submit class: 'btn btn-default' %>
  </span>
<% end %>
</div>


</div>
